.header {
    width: 72.5%;
}

.title {
    padding: 48px 0 2rem 0;
}

.cover-image {
    width: 100%;
    height: calc(100vh - 296px);
    background-size: cover;
    object-fit: cover;
}

.credit {
    font-size: .7rem;
    margin-top: 4px;
}

@media screen and (max-width: 1000px) {
    .header {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .title {
        padding: 1rem 0 1rem 0;
        font-size: 1.3rem;
    }

    .cover-image {
        height: 250px;
    }
}
