.container {
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
}

.banner {
    margin-top: 48px;
    width: 100%;
    height: 25rem;
    color: white;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-title {
    transform: translateY(68%);

    h3 {
        font-weight: lighter;
        font-size: 1.3rem;
    }

    h1 {
        font-size: 4rem;
        padding-bottom: .5rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin: 1rem 0;
        display:inline-block;
    }
}

.credit {
    font-size: .7rem;
    margin-top: 4px;
}

.body {
    width: 50%;
    margin: 3rem auto 4rem auto;
    line-height: 1.8;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration-color: red;
        }
    }
}

.reccomendations {
    width: 100%;
    height: 100%;
    background-color: #E7334D;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.reccomendations-header {
    padding: 4rem 0 1.5rem 0;
}

.albums {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 40px auto 20px auto;
}

.album {
    float: left;
    width: 13.33%;
    position: relative;
    min-height: 1px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
    margin-bottom: 60px;

    a {
        text-decoration: none;
        color: white;
    }

    // :hover + .details {
    //   display: block;
    // }
}

.albumCover {
    border: 2px solid white;
    width: 100%;
    z-index: -1;
}

.artistName {
    font-size: 1rem;
    padding: .6rem 0;
    margin-block-end: 0;
    margin-right: 0;
}

.album-title {
  font-size: .9rem;
  font-weight: lighter;
  font-style: italic;
}

.logo {
    width: 3rem;
    margin-bottom: 1rem;
}

.streaming {
    text-align: center;
    padding-bottom: 3rem;

    p {
      margin-bottom: 3rem;
    }
}

.embed {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1270px) {
    .embed {
        width: 60%;
    }
}

@media screen and (max-width: 1070px) {
    .embed {
        width: 70%;
    }
}

@media screen and (max-width: 1000px) {
    .body {
        width: 100%;
    }
}

@media screen and (max-width: 1070px) {
    .embed {
        width: 85%;
    }
}

@media screen and (max-width: 750px) {
    .reccomendations-header {
        font-size: 1.5rem;
    }

    .albums {
        display: block;
        width: 100%;
        text-align: center;
        height: 100%;
        justify-content: center;
        position: relative;
    }

    .album {
        width: 50%;
        min-height: 1px;
        text-align: center;
        margin: 0 auto 40px auto;
        float: none;
        clear: both;

        a {
            text-decoration: none;
            color: white;
        }
    }

    .streaming {
        padding-top: 3rem;
    }

    .embed {
        display: block;
        width: 80%;
    }

    iframe {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 600px) {
    .banner-title {
        transform: translateY(170%);

        h3 {
            font-size: .8rem;
        }

        h1 {
            font-size: 2rem;
            margin: .5rem 0;
        }
    }

    .checkout {
        margin: 0 auto;
        width: 95%;
    }

    .body {
        width: 100%;
        margin: 1rem auto 3rem auto;
    }

    .banner {
        margin: 2rem 0;
    }
}
