.artist-details {
    margin-top: 1.5rem;
    text-align: center;
}

.artist-name {
    text-transform: uppercase;
    font-size: 18px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.name-japanese {
    color: rgba(0, 0, 0, 0.03) !important;
    font-size: 72px;
    position: absolute;
}

.name-english {
    position: absolute;
    z-index: 1;
}

.role {
    font-weight: lighter;
    text-transform: uppercase;
}

.bio {
    width: 50%;
    margin: .5rem auto 0 auto;
    line-height: 1.5;
}

.streaming {
    margin-top: 1rem;
    font-size: 1.7rem;
}

.apple {
    font-size: 2rem;
}

.menu-and-content {
    display: flex;
}


.content {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 4rem;
}

.content-section {
    display: flex;
    border-top: 1px solid black;
}

.section-title {
    width: 33.27%;
    font-size: 1.2rem;
    font-weight: lighter;
    text-transform: uppercase;
    padding-top: 32px;
}

.albums {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 38px;
    width: 66.73%;
    transform: translate(20px);
}

.album {
    float: left;
    width: 20.5%;
    position: relative;
    min-height: 1px;
    padding-left: 2%;
    padding-right: 2.5%;
    text-align: center;
    margin-bottom: 60px;

    a {
        text-decoration: none;
        color: black;
    }

    :hover {
        text-decoration: underline;
        text-decoration-color: red;
    }
}

.albumCover {
  border: .5px solid rgba(192,192,192,0.3);
  width: 100%;
  z-index: -1;
}

.review-artist-name {
  font-size: 1rem;
  padding: .6rem 0;
  margin-block-end: 0;
  margin-right: 0;
}

.album-title {
  font-size: .9rem;
  font-weight: lighter;
  font-style: italic;
}


.features-section {
    padding-top: 4rem;

    ul {
        padding: 2rem 0 0 0;
        list-style-type: none;
    }
}

.features {
    list-style-type: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    display: -ms-flexbox;
    width: 65.8%;
    transform: translate(12px);
    margin-bottom: 60px;
}

.feature {
    width: 47%;
    margin-top: 40px;
    padding-left: 3%;

    &:hover {
        h3 {
            text-decoration: underline !important;
            text-decoration-color: red !important;
        }
    }
}

.feature-image {
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
}

.feature-details {
    margin-top: 1rem;
    border-bottom: 2px solid;
    border-top: 2px solid;
    height: 150px;
    width: 100%;
    position: relative;

    a {
        text-decoration: none;
    }
}

.feature-title {
    font-weight: bolder;
    margin-top: 16px;
    margin-bottom: 0;
}

.feature-info {
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
}

.feature-author {
    font-weight: bolder;
    margin-bottom: 0;
}

.feature-date {
    color: rgba(0, 0, 0, 0.3) !important;
    margin-top: 3px;
}

.news-items {
    width: 63.9%;
    transform: translate(36px);
    margin-top: 4px
}

.news-item {
    display: flex;
    width: 100%;
    height: 14rem;
    margin-top: 40px;
}

.news-img {
    width: 49%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.news-details {
    position: relative;
    width: 49%;
    margin-left: 2%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.news-title {
    padding-top: .5rem;
    font-size: 1.5rem;
}

.news-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    padding-bottom: .5rem;

    p {
       text-transform: uppercase;
       font-size: .8rem;
       font-weight: bold;
    }
}

.news-date {
    padding-top: .5rem;
    color: lightgray;
}

.news-category {
    position: absolute;
    right: 0;
    bottom: 0;
    color: red;
    padding-bottom: .5rem;
}

@media screen and (max-width: 991px) {
    .name-japanese {
        font-size: 65px;
    }

    .bio {
        width: 75%;
    }

    .content-section {
        display: block;
    }

    .section-title {
        padding-top: 16px;
    }

    .albums {
        width: 100%;
        min-height: 1px;
        transform: translate(0px);
        margin-left: -15px;
        margin-right: -15px;
    }

    .album {
        position: relative;
        min-height: 1px;
        width: 29.73%;
        padding-left: 1.78%;
        padding-right: 1.78%;
    }

    .features {
        width: 100%;
        transform: translate(0);
    }
}

@media screen and (max-width: 767px) {
    .albums {
        margin-left: -10px;
        margin-right: -10px;
    }

    .album {
        width: 46.2%;
        position: relative;
        min-height: 1px;
        padding-left: 1.9%;
        padding-right: 1.9%;
    }
}

@media screen and (max-width: 600px) {
    .name-japanese {
        font-size: 45px;
    }

    .bio {
        width: 95%;
    }

    .content-section {
        display: block;
    }
}
