@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&family=Montserrat:wght@200;300;600&display=swap');

* {
    margin: 0;
}

html {
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: black;
}

blockquote {
    display: inline-block;
    margin: 1.5rem 0;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid #E7334D;
}

input, textarea, button, select, a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}




