.container {
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 1rem;
    padding-right: 1rem;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.content {
    flex-grow: 1;
}

.nav-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner {
    height: 100vh;
    background-size: cover;
    color: white;
    background-position: center;
    position: relative;

    p {
        text-transform: uppercase;
        font-size: 1.3rem;
    }
}

.credit {
    font-size: .7rem;
    margin-top: 8px;
}

.details {
    position: absolute;
    padding-bottom: 50px;
    bottom: 0;
}

.feature-title {
    font-size: 2.8rem;
    width: 70%;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.feature-author {
    padding: 2rem 0 .5rem 0;
    font-weight: bold;
}

.mobile-nav {
    display: none;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-bottom: 2px solid white;
    height: 2.1rem;
    justify-content: space-between;
    padding: .75rem 0 .4rem 0;
}

.mobile-title {
    height: 100%;
    font-size: 1.5rem;
    font-family: Lexend Tera;
    text-decoration: none;
    text-transform: uppercase;
    transform: translate(0);
    color: white;
    padding-top: 2px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.check-button {
    font-size: 1.8rem;
    float: right;
    margin-bottom: .1rem;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.large-check-button {
    font-size: 1.5rem;
    float: right;
    margin: 2.4rem 0 .1rem 0;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    z-index: 10;

    :hover {
        color: #E7334D;
    }
}

.mobile-icons {
    display: none;
    float: right;
    font-size: 1.8rem;
    margin-bottom: .1rem;
}

.mobile-search {
    cursor: pointer;
    margin-right: .6rem;

    :hover {
        color: #E7334D;
    }
}

.search {
    z-index: 12;
    margin-top: 2.4rem;
    font-size: 1.5rem;
    cursor: pointer;

    :hover {
        color: #E7334D;
    }
}


.title-div {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.title {
    margin-top: .6rem;
    font-size: 3rem;
    font-family: Lexend Tera;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

    a {
        color: white;
        text-decoration: none;
    }
}

.feature-content {
    width: 72.5%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.author-details {
    width: 28%;
    height: 100%;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    padding: .7rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.date {
    color: #BCBCBC;
    padding: .5rem 0 2rem 0;
}

.genre {
    color: #E7334D;
}

.body {
    width: 61.5%;
    line-height: 1.8;

    a {
        text-decoration: underline;

        &:hover {
            text-decoration-color: red;
        }
    }
}

.subtitle {
    font-weight: bold;
    padding-bottom: 2rem;
    line-height: 1.8;
}

.artistTags {
    margin-top: 2rem;
    padding-top: 2rem;
    text-transform: uppercase;
    color: gray;
    font-weight: bold;
    font-size: .8rem;
    border-top: 2px solid black;

    a {
        color: black;

        &:hover {
            color: red;
        }
    }
}

@media screen and (max-width: 600px) {
    .title-div {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    .mobile-icons {
        display: flex;
    }

    .banner {
        p {
            font-size: .8rem;
        }
    }

    .nav-icons {
        display: none;
    }

    .feature-title {
        font-size: 1.8rem;
        width: 100%;
    }

    .feature-content {
        width: 100%;
        display: block;
        margin-top: 1rem;
    }

    .author-details {
        display: none;
    }

    .body {
        width: 100%;
        p {line-height: 1.5}
    }
}

