.container {
    margin: 0 auto;
    max-width: 1280px;
    padding-left: 1rem;
    padding-right: 1rem;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.content {
    flex-grow: 1;
}

.banner {
    height: 100vh;
    background-size: cover;
    color: white;
    background-position: center;
    position: relative;

    p {
        text-transform: uppercase;
        font-size: 1.3rem;
    }
}

.details {
    position: absolute;
    padding-bottom: 50px;
    bottom: 0;
}

.feature-title {
    font-size: 2.8rem;
    width: 70%;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.feature-author {
    padding: 2rem 0 .5rem 0;
    font-weight: bold;
}

.mobile-nav {
    display: none;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-bottom: 2px solid white;
    height: 2.1rem;
    padding: 1rem 0 .4rem 0;
    justify-content: space-between;
    padding: .6rem 0;
}

.mobile-title {
    height: 3.7rem;
    font-size: 1.5rem;
    font-family: Lexend Tera;
    text-decoration: none;
    text-transform: uppercase;
    transform: translate(0);
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.check-button {
    font-size: 1.8rem;
    float: right;
    margin-bottom: .1rem;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.title-div {
    width: 100%;
    text-align: center;
}

.title {
    padding-top: .55rem;
    font-size: 3rem;
    font-family: Lexend Tera;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

    a {
        color: white;
        text-decoration: none;
    }
}

.feature-content {
    width: 72.5%;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.author-details {
    width: 28%;
    height: 100%;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    padding: .7rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.date {
    color: #BCBCBC;
    padding: .5rem 0 2rem 0;
}

.genre {
    color: #E7334D;
}

.body {
    width: 61.5%;

    p {
      line-height: 1.5;
    }
}

.subtitle {
    font-weight: bold;
    padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
    .title-div {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    .banner {
        p {
            font-size: .8rem;
        }
    }

    .feature-title {
        font-size: 1.8rem;
        width: 100%;
    }

    .feature-content {
        width: 100%;
        display: block;
    }

    .author-details {
        display: none;
    }

    .body {
        width: 100%;
        p {line-height: 1.5}
    }
}

