.content {
    width: 72.5%;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.body {
    width: 61.5%;
}

@media screen and (max-width: 750px) {
    .content {
        display: block;
        margin-top: 2rem;
    }

    .body {width: 100%}
}

@media screen and (max-width: 600px) {
    .content {
        width: 100%;
        display: block;
        margin-top: 1rem;
    }

    .body {
        width: 100%;
        margin-top: 3rem;
    }
}
