.content {
  display: flex;
  justify-content: space-between;
}

.post {
  width: 72.5%;

  .albumBanner {
    display: flex;
    justify-content: space-between;

    img {
      width: 35%;
    }

    .albumDetails {
      width: 61.5%;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding: 1rem 0;

      h1 {
        font-size: 2.2rem;
      }

      .album-title {
        font-weight: normal;
        font-style: italic;
        font-color: #9D9D9D;
      }

      .stars {
        // padding-bottom: 8.5rem;
        font-size: 2rem;
        color: #E7334D;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  .review-content {
      display: flex;
      justify-content: space-between;
      margin-top: 5rem;

      .author-details {
        width: 35%;
        height: 100%;
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: bold;
        padding: .7rem 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;

        .date {
          color: #BCBCBC;
          padding: .5rem 0 3rem 0;
        }

        .genre {
          color: #E7334D;
        }
      }

      .body {
        width: 61.5%;

        .subtitle {
          font-weight: bold;
          padding-bottom: 2rem;
        }
      }
    }
}

.latest-reviews {
  width: 25%;
  height: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  .title {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.3rem;
    padding-top: 1rem;
  }

  .albums {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    padding-bottom: 1rem;

    .album {
      width: 100%;
      display: flex;
      text-decoration: none;
      padding-top: 1rem;

      img {
        width: 6rem;
        padding-right: 1rem;
      }

      .latest-details {
        padding-top: 1.3rem;

        h1 {
          font-size: .9rem;
        }

        .album-title {
          font-weight: lighter;
          font-style: italic;
        }

        .date {
          font-size: .8rem;
          color: #BCBCBC;
        }
      }
    }
  }
}
