.content {
  display: flex;
  justify-content: space-between;
}

.post {
    width: 72.5%;
    padding-top: 4rem;
}

.albumBanner {
    display: flex;
    justify-content: space-between;

    img {
        width: 35%;
    }
}

.album-details {
    width: 61.5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 1rem 0;

    h1 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.album-title {
    font-weight: normal;
    font-style: italic;
    font-color: #9D9D9D;
}

.stars {
    // padding-bottom: 8.5rem;
    font-size: 2rem;
    color: #E7334D;
}



.review-content {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.author-details {
    width: 28%;
    height: 100%;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: bold;
    padding: .7rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.date {
    color: #BCBCBC;
    padding: .5rem 0 2rem 0;
}

.genre {color: #E7334D}


.body {
    width: 61.5%;

    p {line-height: 1.5}
}

.subtitle {
    font-weight: bold;
    padding-bottom: 2rem;
}


.latest-reviews {
    margin-top: 4rem;
    width: 25%;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.title {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.3rem;
    padding-top: 1rem;
}

.latest-albums {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    padding-bottom: 1rem;

    li {
        width: 100%;
        text-decoration: none;
        padding-top: .5rem;
    }
}

.latest-album {
    display: flex;

    img {
        width: 5rem;
        height: 5rem;
        padding-right: 1rem;
    }
}

.latest-details {
    padding-top: 1.3rem;
    border-top: 1px solid rgba(191, 191, 191, 0.4);
    border-bottom: 1px solid rgba(191, 191, 191, 0.4);
    width: 100%;

    h1 {
        font-size: .9rem;
    }
}

.album-title {
    font-weight: lighter;
    font-style: italic;
}

.latest-date {
    font-size: .8rem;
    color: #BCBCBC;
}

@media screen and (max-width: 1140px) {
    .latest-reviews {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .content {
        display: block;
        widows: 100%;
    }

    .post {
        width: 100%;
        padding-top: 1rem;
    }

    .albumBanner {
        display: block;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .album-details {
        width: 100%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin: 1rem 0;
        padding: .5rem 0;

        h1 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .stars {
        // padding-bottom: 8.5rem;
        font-size: 1.5rem;
        color: #E7334D;
    }



    .review-content {
        display: block;
    }

    .author-details {
        display: none;
    }

    .body {
        width: 100%;

        p {line-height: 1.5}
    }

    .subtitle {
        font-weight: bold;
        padding-bottom: rem;
    }
}


