.narrowScreen {
    display: none;
}

.top-features {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.first-feature {
    width: 65%;
    width: 65%;
    position: -webkit-sticky;
    position: sticky;
    top: 71.5px;
    margin-top: -120px;
    height: -webkit-calc(100vh - 71.5px);
    height: calc(100vh - 71.5px);
}

.first-feature-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.first-feature-details {
    width: 85%;
    padding: 0 0 2rem 2rem;
    position: absolute;
    bottom: 0;
    color: white;

    p {
        font-size: .8rem;
    }
}

.first-feature-title {
    font-weight: bolder;
    font-size: 2.1rem;
}

.first-feature-subtitle{
    padding-top: .5rem;
    font-size: 1rem;
}

.first-feature-author {
    text-transform: uppercase;
    font-weight: bold;
    padding: 2.5rem 0 .5rem 0;
}

.first-feature-date {
    text-transform: uppercase;
}

.scroll-features {
    width: 35%;
    list-style-type: none;
    padding-left: 0;
}

.scroll-feature {
    height: 424px;
    width: 95%;
    float:right;
    margin-bottom: 40px;

    a {
        text-decoration: none;
    }

    &:last-child {
        margin-bottom: 0;
    }

    :hover {
        .scroll-feature-title {
            text-decoration: underline;
            text-decoration-color: red;
        }
    }
}

.scroll-feature-image {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.scroll-feature-details {
    border-bottom: 2px solid;
    border-top: 2px solid;
    height:150px;
    margin-top: 20px;
}

.scroll-feature-title {
    font-weight: bolder;
    font-size: 20px;
    margin-top: 12px;
    width: 90%;
    line-height: 28px;
}

.scroll-feature-info {
    font-size: .8rem;
    text-transform: uppercase;
    margin-top: 28px;
}

.scroll-feature-author {
    font-weight: bold;
    margin-bottom: 0;
}

.secondary-feature-date {
    color: rgba(0, 0, 0, 0.3) !important;
    margin-top: 5px;
}


.scroll-features::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.remaining-features {
    margin-top: 40px;
    list-style-type: none;
    padding-left: 0;
}

.remaining-feature {
    height: 400px;
    width: 900px;
    margin-bottom: 40px;
    display: flex;

    &:hover {
        h3 {
            text-decoration: underline !important;
            text-decoration-color: red !important;
        }
    }
}

.remaining-feature-image-link {
    height: 100%;
    width: 55%;
}

.remaining-feature-image {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.remaining-feature-details {
    border-bottom: 2px solid;
    border-top: 2px solid;
    margin-left: 45px;
    width: 400px;
    position: relative;

    a {
        text-decoration: none;
    }
}

.remaining-feature-title {
    font-weight: bolder;
    font-size: 30px;
    margin-top: 16px;
    line-height: 34px;
    margin-bottom: 0;
}

.remaining-feature-subtitle {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 16px;
    line-height: 22px
}

.remaining-feature-info {
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
}

.remaining-feature-author {
    font-weight: bolder;
    margin-bottom: 0;
}

.remaining-feature-date {
    color: rgba(0, 0, 0, 0.3) !important;
    margin-top: 5px;
}

.narrow-top-feature {
    height: calc(100vh - 191.19px);
    width: 100%;
}

.narrow-top-feature-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center;
}

.mobile-top-feature {
    display: none;
    margin-top: -3rem;
}

.mobile-features {
    display: none;
    list-style-type: none;
    padding-left: 0;
    display: -ms-flexbox;
    margin-left: -14px;
    margin-right: -16px;
}

.mobile-feature {
    width: 46.9%;
    margin-top: 3rem;
    padding-left: 1.5%;
    padding-right: 1.5%;

    &:hover {
        h3 {
            text-decoration: underline !important;
            text-decoration-color: red !important;
        }
    }
}

.mobile-feature-image {
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
}

.mobile-feature-details {
    margin-top: 1rem;
    border-bottom: 2px solid;
    border-top: 2px solid;
    height: 150px;
    width: 100%;
    position: relative;

    a {
        text-decoration: none;
    }
}

.mobile-feature-title {
    font-weight: bolder;
    margin-top: 8px;
    margin-bottom: 0;
}

.mobile-feature-info {
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
}

.mobile-feature-author {
    font-weight: bolder;
    margin-bottom: 0;
}

.mobile-feature-date {
    color: rgba(0, 0, 0, 0.3) !important;
    margin-top: 3px;
}

@media screen and (max-width: 1200px) {
    .narrowScreen {
        display: block;
    }

    .wideScreen {
        display: none;
    }
}

@media screen and (max-width: 931px) {
    .remaining-features {
        display: none;
    }

    .mobile-features {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (max-width: 666px) {
    .narrow-top-feature {
        display: none;
    }

    .mobile-top-feature {
        display: block;
    }

    .mobile-features {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .mobile-feature {
        padding-left: 0;
        width: 100%;
    }

    .mobile-feature-image {
        height: 300px;
    }

    .mobile-feature-details {
        height: 170px;

        a {
            text-decoration: none;
        }
    }

    .mobile-feature-title {
        font-size: 1.5rem;
    }
}
