.feature-nav {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10000;
    padding-bottom: .8rem;
}

.feature-nav-title {
    text-transform: uppercase;
    font-size: 18px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.title-japanese {
    color: rgba(0, 0, 0, 0.03) !important;
    font-size: 72px;
    position: absolute;
}

.title-english {
    position: absolute;
}

.feature-nav-bottom {
    display: block;
    height: 40px;
    padding-top: 8px;
}

.feature-nav-list {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 14px;
}

.feature-nav-item {
    color: grey;
}

.active, .feature-nav-item:hover {
    color: black;
    cursor: pointer;
}

.feature {
    list-style: none;
    margin-block-start: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

.top-features {
    display: flex;

    .first-feature-link {
        height: calc(100vh - 178px);
        width: 65%;
    }

    .first-feature {
        height: 100%;
        width: 100%;
        background-size: cover;
        position: relative;

        .first-feature-details {
            width: 85%;
            padding: 0 0 2rem 3rem;
            position: absolute;
            bottom: 0;

            .first-feature-title {
                color: white;
                font-weight: bolder;
                font-size: 32px;
            }

            .first-feature-subtitle{
                color: white;
            }
        }
    }

    .scroll-features {
        height: calc(100vh - 178px);
        width: 35%;
        overflow-y: scroll;
        list-style-type: none;
        padding-left: 0;

        .scroll-feature {
            height: 424px;
            width: 95%;
            float:right;
            margin-bottom: 40px;

            a {
                text-decoration: none;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .scroll-feature-image {
                height: 250px;
                width: 100%;
                background-size: cover;
                background-position: center;
            }

            .scroll-feature-details {
                border-bottom: 2px solid;
                border-top: 2px solid;
                height:150px;
                margin-top: 20px;

                .scroll-feature-title {
                    font-weight: bolder;
                    font-size: 20px;
                    margin-top: 12px;
                    width: 90%;
                    line-height: 28px;
                }

                .scroll-feature-info {
                    font-size: 14px;
                    text-transform: uppercase;
                    margin-top: 28px;

                    .scroll-featue-author {
                        font-weight: bolder;
                        margin-bottom: 0;
                    }

                    .secondary-feature-date {
                        color: rgba(0, 0, 0, 0.3) !important;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .scroll-features::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Chrome/Safari/Webkit */
    }
}


.remaining-features {
    margin-top: 40px;
    list-style-type: none;
    padding-left: 0;

    .remaining-feature {
        height: 400px;
        width: 70%;
        margin-bottom: 40px;
        display: flex;

        &:hover {
            h3 {
                text-decoration: underline !important;
                text-decoration-color: red !important;
            }
        }

        .remaining-feature-image-link {
            height: 100%;
            width: 55%;

            .remaining-feature-image {
                background-size: cover;
                background-position: center;
                height: 100%;
                width: 100%;
            }
        }

        .remaining-feature-details {
            border-bottom: 2px solid;
            border-top: 2px solid;
            margin-left: 45px;
            width: calc(45% - 35px);
            position: relative;

            a {
                text-decoration: none;
            }

            .remaining-feature-title {
                font-weight: bolder;
                font-size: 30px;
                margin-top: 16px;
                line-height: 34px;
                margin-bottom: 0;
            }

            .remaining-feature-subtitle {
                color: rgba(0, 0, 0, 0.8);
                margin-top: 16px;
                line-height: 22px
            }

            .remaining-feature-info {
                font-size: 14px;
                text-transform: uppercase;
                position: absolute;
                bottom: 0;
                margin-bottom: 8px;

                .remaining-feature-author {
                    font-weight: bolder;
                    margin-bottom: 0;
                }

                .remaining-feature-date {
                    color: rgba(0, 0, 0, 0.3) !important;
                    margin-top: 5px;
                }
            }
        }
    }
}
