.guides {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-flexbox;
    margin-left: -20px;
    margin-right: -20px;
}

.guide {
    float: left;
    width: 30.3%;
    position: relative;
    min-height: 1px;
    padding-left: 1.5%;
    padding-right: 1.5%;

    &:hover {
        h3 {
            text-decoration: underline !important;
            text-decoration-color: red !important;
        }
    }
}

.guide-img {
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
}
