.guides {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-flexbox;
    margin: 0 -19px;
}

@media screen and (max-width: 1230px) {
    .guides {
        margin: 0 -18.2px;
    }
}

@media screen and (max-width: 1180px) {
    .guides {
        margin: 0 -17.7px;
    }
}

@media screen and (max-width: 1142px) {
    .guides {
        margin: 0 -17px;
    }
}

@media screen and (max-width: 1100px) {
    .guides {
        margin: 0 -16.2px;
    }
}

@media screen and (max-width: 1047px) {
    .guides {
        margin: 0 -15.3px;
    }
}

@media screen and (max-width: 990px) {
    .guides {
        margin: 0 -14.5px;
    }
}

@media screen and (max-width: 933px) {
    .guides {
        margin: 0 -13.5px;
    }
}

@media screen and (max-width: 904px) {
    .guides {
        margin: 0 -12px;
    }
}

.guide {
    float: left;
    width: 30.3%;
    position: relative;
    min-height: 1px;
    margin-bottom: 3rem;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.image {
    position: relative;
    height: 300px;
    color: white;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;

    h1 {
        font-size: 2rem;
        padding-bottom: .2rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        margin: .5rem 0;
        display:inline-block;
    }
}

.guide-img {
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
}

.guide-details {
    margin-top: 1rem;
    border-bottom: 1px solid;
    border-top: 1px solid;
    height: 150px;
    width: 100%;
    position: relative;

    a {
        text-decoration: none;
    }
}

.guide-title {
    font-weight: bolder;
    margin-top: 8px;
    margin-bottom: 0;
}

.guide-info {
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
}

.guide-author {
    font-weight: bolder;
    margin-bottom: 0;
}

.guide-date {
    color: rgba(0, 0, 0, 0.3) !important;
    margin-top: 3px;
}

@media screen and (max-width: 931px) {
    .guides {
        padding-left: 0;
        margin-left: -12px;
        margin-right: -16px;
    }

    .guide {
        width: 46.6%;
    }
}

@media screen and (max-width: 784px) {
    .guides {
        padding-left: 0;
        margin-left: -10px;
        margin-right: -16px;
    }
}

@media screen and (max-width: 685px) {
    .guides {
        padding-left: 0;
        margin-left: -10px;
        margin-right: -14px;
    }
}

@media screen and (max-width: 666px) {
    .guides {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .guide {
        padding-left: 0;
        width: 100%;
        margin-bottom: 2rem;
    }

    .image {
        height: 200px;
    }

    .title {
        h1 {
            font-size: 1.2rem;
        }
    }

    .guide-details {
        a {
            text-decoration: none;
        }
    }

    .guide-title {
        font-size: 1.5rem;
    }
}
