.index-container {
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.container, .header-container, .playlist-container {
    margin: 0 auto;
    max-width: 1280px;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section-title {
    border-top: 1px solid black;

    h2 {
        font-size: 1.2rem;
        font-weight: lighter;
        text-transform: uppercase;
        padding: .5rem 0 2rem 0;
    }
}

.section-link {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: green;
    text-align: center;
    padding: .6rem 0;
    text-transform: uppercase;
    font-size: .9rem;
}

@media screen and (max-width: 600px) {
    .section-title {
        border-top: none;
        width: 100%;
        text-align: center;
        margin: 2rem 0 .5rem 0;

        h2 {
            font-size: 1.5rem;
        }
    }

    .header-container {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: white;
    }
}

// Top Feature
.top-feature {
    width: 100%;
    height: calc(100vh - 132.19px);
    background-color: white;
}

.top-feature-content {
    position: relative;
    display: flex;
    height: 85%;
    width: 100%;
    padding-top: 3rem;
}

.top-feature-image-link {
    z-index: 10;
    width: 62%;
}

.top-feature-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.top-feature-text {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 36%;
    height: 40%;
}

.top-feature-title-link {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4rem;
    z-index: 11;
    mix-blend-mode: difference;
    color: black;
}

.top-feature-title {
    text-transform: uppercase;
    text-align: right;
    font-size: 8rem;
    // transform: translate(0, 75px);
    float: right;

    -webkit-text-stroke: 1px white;
    z-index: 99;
}

.top-feature-details {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    vertical-align: bottom;
}

.top-feature-subtitle {
    padding-top: .5rem;
    font-size: 1rem;
    line-height: 1.5;
}

.top-feature-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    padding-bottom: .5rem;

    p {
       text-transform: uppercase;
       font-size: .8rem;
       font-weight: bold;
    }
}

.top-feature-date {
    padding-top: .5rem;
    color: gray;
}

.top-feature-category {
    position: absolute;
    right: 0;
    bottom: 0;
    color: red;
    padding-bottom: .5rem;
}

.top-feature-responsive-title {
    position: absolute;
    top: 0;
    display: none;
    text-transform: uppercase;
    text-align: right;
    font-size: 8rem;
    // transform: translate(0, 75px);
    float: right;
    mix-blend-mode: difference;
    color: black;
    -webkit-text-stroke: 1px white;
    z-index: 99;
}

.responsive-top-feature {
    width: 100%;
    height: calc(100vh - 132.19px);
    display: none;
    margin: 20px 0 0 0;
}

.responsive-top-feature-img {
    height: 95%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.responsive-top-feature-details {
    width: 85%;
    padding: 0 0 2rem 2rem;
    position: absolute;
    bottom: 0;
    color: white;

    p {
        font-size: .8rem;
    }
}

.responsive-top-feature-title {
    font-weight: bolder;
    font-size: 2.1rem;
}

.responsive-top-feature-subtitle{
    margin-top: .5rem;
    font-size: 1rem;
    line-height: 1.5;
}

.responsive-top-feature-author {
    text-transform: uppercase;
    font-weight: bold;
    margin: 1.5rem 0 .5rem 0;
}

.responsive-top-feature-date {
    text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
    .top-feature-details {
        height: 40%;
    }

    .top-feature-subtitle {
        padding-top: .5rem;
        font-size: .9rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 850px) {
    // .top-feature-content {
    //     position: relative;
    //     display: block;
    //     height: 85%;
    //     width: 100%;
    //     padding-top: 3rem;
    // }

    .top-feature-content {
        display: none;
    }

    .responsive-top-feature {
       display: block;
    }

    .top-feature-text {
        width: 100%;
    }

    .top-feature-title {
        display: none;
    }

    .top-feature-image {
        width: 100%;
        height: 96%;
        position: absolute;
        bottom: 0;
    }

    .top-feature-responsive-title {
        display: block;
    }

    .top-feature-details {
        display: none;
    }
}

@media screen and (max-width: 730px) {
    .top-feature-responsive-title {
        font-size: 6rem;
    }

    .top-feature-image {
        height: 97%;
    }

    .responsive-top-feature-details {
        padding: 0 0 1.5rem 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .top-feature-responsive-title {
        font-size: 5rem;
    }

    .top-feature {
        width: 100%;
        height: 100%;
        background-color: white;
    }

    .responsive-top-feature {
        height: 40vh;
    }

    .responsive-top-feature-title {
        font-size: 1.3rem;
    }

    .responsive-top-feature-subtitle{
        display: none;
    }

    .responsive-top-feature-details {
        p {
            font-size: .6rem;
        }
    }

    .responsive-top-feature-author {
        margin: 1rem 0 .3rem 0;
    }

    // .top-feature-content {
    //     position: relative;
    //     display: block;
    //     height: 85%;
    //     width: 100%;
    //     padding-top: 2rem;
    // }

    // .top-feature-image {
    //     height: 98%;
    // }

    // .top-feature-text {
    //     position: relative;
    //     width: 100%;
    //     padding-top: 32px;
    //     height: 36%;
    // }

    // .top-feature-title {
    //     display:none;
    // }

    // .top-feature-details {
    //     position: relative;
    //     width: 100%;
    //     height: 100%;
    // }
}


// Reviews
.reviews {
    height: 100%;
}

.albums {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -20px;
}

.less-albums {
    display: none;
}

@media screen and (max-width: 1140px) {
    .albums {
        margin-left: -16px;
        margin-right: -16px;
    }
}

@media screen and (max-width: 991px) {
    .albums {
        display: none;
    }

    .less-albums {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
    }

    .album {
        width: 29.73%;
        padding-left: 1.78%;
        padding-right: 1.78%;
    }
}

@media screen and (max-width: 863px) {
    .albums {
        margin-left: -13px;
        margin-right: -13px;
    }

    .album {
        width: 29.73%;
        padding-left: 1.78%;
        padding-right: 1.78%;
    }
}

@media screen and (max-width: 767px) {
    .less-albums {
        margin-left: -13px;
        margin-right: -13px;
    }

    .album {
        width: 46%;
        position: relative;
        min-height: 1px;
        padding-left: 1.9%;
        padding-right: 1.9%;
    }
}

@media screen and (max-width: 666px) {
    .less-albums {
        margin-left: -6.8px;
        margin-right: -6.5px;
    }
}
// Patreon and Latest News
.patreon-and-latest-news {
    margin-top: 3rem;
    height: 475px;
}

.patreon-and-latest-news-content {
    display: flex;
    height: 100%;
}

.patreon {
    height: 100%;
    width: 65%;
    background-color: red;
    margin-right: 2rem;
}

.latest-news {
    width: 30%;
    height: 100%;
}

.news-list {
    margin-top: -1.5rem;
    margin-bottom: .5rem;
}

.news-item {
    display: flex;
    margin-top: .5rem;

    img {
        width: 6.5rem;
        height: 4.3rem;
        margin-right: 8px;
        object-fit: cover;
        background-size: cover;
        background-position: center;
    }

    h2 {
        margin-top: 4px;
        font-size: .8rem;
    }

    p {
        margin-top: 4px;
        font-size: .7rem;
        text-transform: uppercase;
        color: gray;
    }

    &:hover {
        h2 {
            text-decoration: underline;
            text-decoration-color: red;
        }
    }
}

@media screen and (max-width: 940px) {
    .patreon-and-latest-news {
        margin-top: 3rem;
        height: 100%;
    }

    .patreon-and-latest-news-content {
        display: block;
        height: 100%;
    }

    .patreon {
        height: 450px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .latest-news {
        width: 100%;
    }

    .news-list {
        margin-top: -1.5rem;
        margin-bottom: 1.5rem;
    }

    .news-item {
        img {
            width: 35%;
            height: 8rem;
            margin-right: 12px;
            object-fit: cover;
        }

        h2 {
            margin-top: 8px;
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .patreon {
        height: 350px;
    }

    .news-item {
        img {
            height: 6.5rem;
        }

        h2 {
            font-size: 1rem;
        }
    }
}

//Features

.features-section {
    margin: 3rem 0;
    width: 100%;
}

.features {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.feature {
    width: 31.5%;
    margin-bottom: 60px;
}

.feature-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;

}

.feature-image:hover ~ .feature-title {
    text-decoration: underline;
    text-decoration-color: red;
}

.feature-details {
    border-bottom: 1px solid;
    border-top: 1px solid;
    width: 100%;
    height: 150px;
    margin-top: 32px;
    position: relative;

    a {
        text-decoration: none;
    }
}

.feature-title {
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 0;

    &:hover {
        text-decoration: underline;
        text-decoration-color: red;
    }
}

@media screen and (max-width: 1000px) {
    .feature {
        width: 48.5%;
    }
}

@media screen and (max-width: 600px) {
    .features {
        display: block;
        width: 100%;
    }

    .feature {
        width: 100%;
        margin-bottom: 60px;
    }
}

// The Playlist
.the-playlist-section {
    margin-top: 3rem;
    width: 100%;
    height: 520px;
    background-color: #E7334D;
}

.the-playlist-title {
    font-size: 1.2rem;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    padding: 1.5rem 0;
}

.playlists {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.playlist {
    width: 20%;
}

.playlist-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.playlist-details {
    position: relative;
    margin: 20px 0;
    height: 240px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    color: white
}

.playlist-artist {
    margin-top: 16px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.2rem;
    color: white !important;
}

.playlist-subtitle {
    margin: 48px 8px 0 8px;
    font-size: .8rem;
}

.playlist-date {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 0 16px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: .7rem;
}

@media screen and (max-width: 700px) {
    .playlist-container {
        width: 700px;
    }

    .the-playlist-section {
        width: 100%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }

    .the-playlist-title {
        h2 {
            font-size: 1.5rem;
            font-weight: lighter !important;
        }
    }

    .playlist-details {
        position: relative;
        margin: 20px 0;
        color: white;
        height: 185px;
    }

    .playlist {
        width: 150px;
        height: 100%;
    }

    .playlist-image {
        height: 100px;
    }

    .playlist-artist {
        font-size: .8rem;
    }

    .playlist-subtitle {
        margin: 20px 0 16px 0;
        font-size: .6rem;

    }

    .playlist-date {
        font-size: .6rem;
        position: relative;
    }

}

// @media screen and (max-width: 700px) {
//     .the-playlist-section {
//         height: 100%;
//         padding-bottom: 32px;
//     }

//     .playlists {
//         display: block;
//         margin-top: -60px;
//     }

//     .playlist {
//         width: 70%;
//         margin: 60px auto 0 auto;
//     }

//     .playlist-image {
//         width: 100%;
//         height: 175px;
//         object-fit: cover;
//     }

//     .playlist-details {
//         width: 100%;
//         position: relative;
//         height: 100%;
//     }

//     .playlist-artist {
//         margin-top: 16px;
//         text-transform: uppercase;
//         font-weight: lighter;
//         font-size: 1.2rem;
//     }

//     .playlist-subtitle {
//         margin: 32px 0 16px 0;
//         font-size: .8rem;
//     }

//     .playlist-date {
//         position: relative;        text-align: center;
//         text-transform: uppercase;
//         font-size: .7rem;
//     }
// }

//Guides

.guides-section {
    margin: 3rem 0;
}
