.albums {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}

.album {
    float: left;
    width: 13.33%;
    position: relative;
    min-height: 1px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;
    margin-bottom: 60px;

    a {
        text-decoration: none;
    }

    // :hover + .details {
    //   display: block;
    // }
}

.albumCover {
  border: .5px solid rgba(192,192,192,0.3);
  width: 100%;
  z-index: -1;
}

.artistName {
  font-size: 1rem;
  padding: .6rem 0;
  margin-block-end: 0;
  margin-right: 0;
}

.album-title {
  font-size: .9rem;
  font-weight: lighter;
  font-style: italic;
}

.feature-nav {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10000;
    margin-bottom: 2.5rem;
}

.feature-nav-title {
    text-transform: uppercase;
    font-size: 18px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}

.title-japanese {
    color: rgba(0, 0, 0, 0.03) !important;
    font-size: 72px;
    position: absolute;
}

.title-english {
    position: absolute;
}

.feature-nav-bottom {
    display: block;
    height: 40px;
    padding-top: 8px;
}

.feature-nav-list {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 14px;

    a {
        text-decoration: none;
        color: #A9A9A9;
    }

    a:hover {
        color: black;
        cursor: pointer;
    }
}
