.albums {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}

.album {
  flex: 1 16%;
  text-align: center;
  width: 10rem;
}

.albumCover {
  width: 10rem;
}

.artistName {
  width: 10rem;
  font-size: 1rem;
  padding: .6rem 0;
}

.albumTitle {
  width: 10rem;
  font-size: .8rem;
}

