.title {
    text-align: center;
    padding: 2rem 0 5rem 0;
}

.content {
    width: 50%;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: underline;
    text-decoration-color: #E7334D;
}
