.header {
    padding: 0;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    padding: .6rem 0 0 0;
}

.title {
    color: #000000;
    font-size: 3rem;
    font-family: Lexend Tera;
    text-decoration: none;
    text-transform: uppercase;
    height: 3.7rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 1rem 0 1rem 0;
    max-width: 100%;
    justify-content: space-around;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-item {
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item:hover {
    color: #E7334D;
    transition: color 200ms;
}

.social-list {
    display: flex;
    list-style-type: none;
    padding: 2.4rem 0 0rem 0;

    li {
        padding-right: 1.2rem;
    }

    li:last-child {
        padding-right: 0;
    }
}

.social-item {
    color: #000000;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
}

.social-item:hover {
    color: #E7334D;
    cursor: pointer;
}

.check-button {
    font-size: 1.8rem;
    float: right;
    margin-bottom: .1rem;
    cursor: pointer;
    display: none;
}

.mobile-nav-open {
    display: none;
}

.mobile-nav {
    height: calc(100vh - 65.19px);
    width: 100%;
    position: absolute;
    right: 0;
    background-color: white;
    display: none;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    margin-top: 80px;
    padding-inline-start: 1rem;

    li {
        padding-top: 1rem;
    }
}

.mobile-nav-item {
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.mobile-social-list {
    display: flex;
    list-style-type: none;
    // justify-content: center;
    padding: 2.4rem 0 .5rem 1rem;

    li {
        padding-right: 1.2rem;
    }

    li:last-child {
        padding-right: 0;
    }
}

.mobile-social-item {
    color: #000000;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.mobile-social-item:hover {
    color: #E7334D;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .nav-top {
        border-bottom: 1px solid black;
        padding: 1rem 0 .4rem 0;
    }

    .search {
        display: none;
    }

    .title {
        font-size: 1.3rem;
        position: absolute;
        top: 1.1rem;
    }

    .nav-list {
        display: none;
    }

    .social-list {
        display: none;
    }

    .check-button {
        display: block;
    }

    .mobile-nav {
        display: block;
    }
}
