.logo {
    background-color: red;
    height: 100px;
    width: 100px;
}

.footer-list {
    display: flex;
    list-style-type: none;
    padding: 1rem 0 1rem 0;
    max-width: 100%;
    justify-content: space-between;
    border-top: 1px solid black;
}

.footer-item {
    color: #000000;
    font-size: .8rem;
    text-decoration: none;
}
