.logos {
  display: flex;
  justify-content: space-between;
}

.logo {
    height: 120px;
}

.footer-list {
    display: flex;
    list-style-type: none;
    padding: 1.4rem 0 1.4rem 0;
    max-width: 100%;
    justify-content: space-between;
    border-top: 1px solid black;
}

.footer-item {
    color: #000000;
    font-size: .8rem;
    text-decoration: none;
}

.footer-item:hover {
    color: #E7334D;
}

.social-list {
    display: flex;
    list-style-type: none;
    padding: 1rem 0 1rem 0;
}

.social-item {
    color: #000000;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
}

.social-item:hover {
    color: #E7334D;
}

.copyright {
    text-align: center;
    font-size: .7rem;
    color: #777777;
    margin-bottom: 16px;
}

.copyright-links {
    color: #777777;
    text-decoration: none;
}

.copyright-links:hover{
    color: #E7334D;
}

@media screen and (max-width: 600px) {
    .footer-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-item {
        flex: 0 1 34rem;
        margin: 1rem;
        padding: 0;
    }
}
