.header {
    padding: 0 0 2rem;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}

.title {
    color: #000000;
    font-size: 3rem;
    font-family: Lexend Tera;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 1rem 0 1rem 0;
    max-width: 100%;
    justify-content: space-around;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-item {
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-item:hover {
    color: #E7334D;
    transition: color 300ms;
}

.social-list {
    display: flex;
    list-style-type: none;
    padding: 1rem 0 1rem 0;
    color: green;
}

.social-item {
    color: #000000;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
}

.social-item:hover {
    color: #E7334D;
}

.check-button {
    font-size: 1.8rem;
    float: right;
    margin-top: 6px;
    margin-right: 4px;
    cursor: pointer;
    display: none;
}

.mobile-nav-open {
    display: none;
}

.mobile-nav {
    height: calc(100vh - 65.19px);
    width: 100%;
    position: absolute;
    right: 0;
    background-color: white;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
}

.mobile-nav-item {
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.mobile-social-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
}

.mobile-social-item {
    color: #000000;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .nav-top {
        border-bottom: 1px solid black;
        padding: 1rem 0 .4rem 0;
    }

    .title {
        font-size: 2rem;
    }

    .nav-list {
        display: none;
    }

    .social-list {
        display: none;
    }

    .check-button {
        display: block;
    }


}
