.header {
    padding: 1rem 0 2rem;
}

.title {
    color: #000000;
    font-size: 3rem;
    font-family: Lexend Tera;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding: 1rem 0 1rem 0;
    max-width: 100%;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-item {
    color: #000000;
    font-size: .9 rem;
    text-decoration: none;
    text-transform: uppercase;
}

.social-list {
    display: flex;
    list-style-type: none;
    padding: 1rem 0 1rem 0;
}

.social-item {
    color: #000000;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
}
