.main {
  margin: 4rem auto 0 auto;

  h2 {
      padding-bottom: .5rem;
      font-size: 1.2rem;
  }

  p {
      padding-bottom: 1rem;
    }
}

.form {
    display: flex;
}

.button {
    background-color: #E7334D !important;
    color: white !important;
    margin-left: .5rem !important;
    border-radius: 0 !important;
    height: 3rem;
}
