.main {
  h2 {
      padding-bottom: .5rem;
      font-size: 1.2rem;
  }

  p {
      padding-bottom: 1rem;
  }
}

.form {
    display: flex;

    input {
        -webkit-appearance: none;
        outline: none;
        padding: .82rem;
        color: rgb(153, 153, 153);
        border: 2px solid rgb(153, 153, 153);
    }

    label {
        color: rgb(153, 153, 153);
        display: none;
    }

    input:focus, textarea:focus, select:focus{
        outline: none;
    }
}

.button {
    background-color: rgb(153, 153, 153) !important;
    color: black !important;
    margin-left: .5rem !important;
    border-radius: 0 !important;
    height: 3.1rem;
}

@media screen and (max-width: 600px) {
    .main {
        text-align: center;
    }

    .form {
        display: block;

        input {
            margin-bottom: 1rem;
            width: 250px;
        }
    }

    .button {
        width: 280px;
        margin-left: 0 !important;
    }
}
