.main {

  h2 {
      padding-bottom: .5rem;
      font-size: 1.2rem;
  }

  p {
      padding-bottom: 1rem;
    }
}

.form {
    display: flex;

    input {
        -webkit-appearance: none;
        outline: none;
        padding: .82rem;
        color: rgb(153, 153, 153);
        border: 2px solid rgb(153, 153, 153);
    }

    label {
        color: rgb(153, 153, 153);
        display: none;
    }
}

.button {
    background-color: rgb(153, 153, 153) !important;
    color: black !important;
    margin-left: .5rem !important;
    border-radius: 0 !important;
    height: 3rem;
}
