.footer {
    margin-top: 4rem;
}

.top {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 60px;
    margin: 0 10.5rem 1rem 0;
}

.social-list {
    display: flex;
    list-style-type: none;
    padding: 2.4rem 0 .5rem 0;

    li {
        padding-right: 1.2rem;
        color: #000000;
        font-size: 1.5rem;
        text-decoration: none;
    }

    li:last-child {
        padding-right: 0;
    }
}

.social-mobile-list {
    display: none;
    list-style-type: none;
    padding-top: 1rem;
    padding-inline-start: 20px;
    justify-content: center;



    li {
        padding-right: 1.2rem;
    }

    li:last-child {
        padding-right: 0;
    }

    &:last-of-type {
        padding-bottom: 2rem;
    }
}



.social-mobile-item {
    color: #000000;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: #E7334D;
    }
}

.copyright {
    font-size: .7rem;
    color: #777777;
    padding-top: 2rem;
}

.copyright-mobile {
    text-align: center;
    font-size: .7rem;
    color: #777777;
    margin-bottom: 16px;
    display: none;
}

.copyright-links, .copyright-mobile-links {
    color: #777777;
    text-decoration: none;

    &:hover {
        color: #E7334D;
    }
}

.footer-list {
    display: flex;
    list-style-type: none;
    padding: 1.4rem 0 1.4rem 0;
    max-width: 100%;
    justify-content: space-between;
    border-top: 1px solid black;
}

.footer-item {
    color: #000000;
    font-size: .8rem;
    text-decoration: none;

    &:hover {
        color: #E7334D;
    }
}

// @media screen and (max-width: 800px) {
//     .copyright {
//         font-size: .5rem;
//     }
// }

@media screen and (max-width: 600px) {
    .footer {
        border-top: 1px solid black;
    }

    .logos {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logo {
        padding-top: 2rem;
        margin-right: 0;
    }

    .footer-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-top: none;
        padding: 2rem 0 2rem 0;
    }

    .footer-item {
        flex: 0 1 34rem;
        margin: 1rem;
        padding: 0;
    }

    .social-list {
        display: none;
    }

    .social-mobile-list {
        display: flex;
    }

    .social-mobile-item {
        padding-right: 1.2rem;
    }

    .copyright {
        display: none;
    }

    .copyright-mobile {
        display: block;
    }
}
