.album {
    text-align: center;

    img {
        height: 225px;
    }

    .artistName {
        font-size: 1rem;
        padding: .6rem 0;
        margin-block-end: 0;
        margin-right: 0;
    }

    .album-title {
        font-size: .9rem;
        font-weight: lighter;
        font-style: italic;
    }
}

.heroImage {
  height: 115px;
  width: 225px;
}

.previewTitle {
  font-size: 1.5em;
}

